$white: #ffffff !default;
$indigo: #5603ad !default;
$purple: #8965e0 !default;
$pink: #f3a4b5 !default;
$red: #ff846b !default;
$orange: #ffc94c !default;
$yellow: #ffd870 !default;
$green: #2dce89 !default;
$_teal: #6cc1ff !default;
$cyan: #05e2b7 !default;

$gray: #63686e !default;

$black:#24242C !default;
