$h1-font-size: 70px;
$header-font-size: 18px;
$header-color: $white;

$_blue: #064888 !default;

h1 {
  color: $white;
  font-size: 70px;
}

.v-btn {
  text-transform: none !important;
}

.v-footer {
  background-color: $white !important;
}

.v-footer * {
  font-weight: bold;
  font-weight: bold;
  font-size: 14px;
  color: $_blue !important;
}

.white-filled {
  background-color: $white !important;
  * {
    color: $_blue !important;
  }
}

.blue-filled {
  background-color: $_blue !important;
  * {
    color: $white !important;
  }
}

.list-attributes {
  color: '#45535F' !important;
}
