$header-font-size: 18px;
$header-color: white;

$_blue: #064888 !default;

@font-face {
  font-family: 'Vollkorn';
  src: local('Vollkorn'),
    url('https://fonts.googleapis.com/css2?family=Lato&family=Vollkorn&display=swap')
      format('truetype');
}

h1 {
  color: white;
  font-size: 70px;
}

h2 {
  color: #45535f;
}

.v-btn {
  text-transform: none !important;
}

.v-footer {
  background-color: white !important;
}

.v-footer * {
  font-weight: bold;
  font-weight: bold;
  font-size: 14px;
}

.white-filled {
  background-color: white !important;
  * {
    color: $_blue !important;
  }
}

.blue-filled {
  background-color: $_blue !important;
  * {
    color: white !important;
  }
}

.list-attributes {
  color: '#45535F' !important;
}
